body {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
}

.initPageTwo0133 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.initPageTwo0133 > div {
    bbackground-color: rgba(167, 146, 146, 0.488);
    align-self: center;
}

#player1CounterPanel0133, #player2CounterPanel0133{
    display: flex;
    justify-content: space-between;
}
.ninePanel0133centralPlayArea {
    display: flex;
    justify-content: space-evenly;
    max-width: 550px;
    flex-wrap: wrap;
}
.centralPlayArea0133troot > h1 {
    text-align: center;
    font-family: Monaco;
}
.cell {
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: #00ffff;
    box-shadow: 0 0 6px 1px rgba(110, 110, 159, 0.639);
    line-height: 150px;
    text-align: center;
    font-size: 100px;
    color: #FF0000;
}